<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <support>
                <ticket>
                    <order_type_ticket>2</order_type_ticket>
                </ticket>
            </support>
            <live_chat>
                <settings>
                    <ongoing_chat_status>1</ongoing_chat_status>
                    <closed_chat_status>2</closed_chat_status>
                    <websocket_port>8000</websocket_port>
                </settings>
            </live_chat>
        </default>
    </config>