.d-flex {
    display: flex;
}
#chat-admin-container {
    display: flex;
    height: 67vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
#chat-admin-container .chats-info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    align-items: center;
    border-radius: 5px;
}
#chat-admin-container .welcome-message {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chat-admin-container .chats-info p {
    margin: 0;
}
#chat-admin-container .user-list-wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #e1e1e1;
    position: relative;
}
#chat-admin-container .user-list {
    overflow-y: auto;
}
#chat-admin-container .user-list .user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #d1d1d1;
    transition: background-color 0.3s;
}
#chat-admin-container .user-list .user-item:last-child {
    border-bottom: none;
}
#chat-admin-container .user-list .user-item:hover {
    background-color: #f0f0f0;
}
#chat-admin-container .user-list .user-item.selected {
    background-color: #ffffff;
    font-weight: bold;
    border-left: 5px solid #0062cccc;
}
#chat-admin-container .user-list .user-item .user-avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
#chat-admin-container .user-list .user-item .unread-messages{
    background-color: green;
    color: white;
    border-radius: 40px;
    padding: 6px 10px;
}
#chat-admin-container .user-list .user-item .user-details {
    margin-left: 10px;
}
#chat-admin-container .user-list .user-item .user-details h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}
#chat-admin-container .user-list .user-item .user-details .latest-message {
    color: #999;
    font-size: 14px;
}
#chat-admin-container .chat-area {
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
}
#chat-admin-container .chat-area .error-message {
    color: red;
    padding: 10px 0 0px 31px;
}
#chat-admin-container .chat-area .chat-header {
    padding: 20px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
/* #chat-admin-container .chat-area .chat-header h2 {
    margin: 0;
    font-size: 18px;
} */
#chat-admin-container .chat-area .chat-messages {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
#chat-admin-container .chat-area .chat-input {
    padding: 20px 20px 0 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #e1e1e1;
}
#chat-admin-container .chat-area .chat-input .textarea-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
#chat-admin-container .chat-area .chat-input textarea {
    height: 80px;
    max-height:  150px;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
#chat-admin-container .chat-area .chat-input button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 40px;
}
#chat-admin-container .chat-area .chat-input button:hover {
    background-color: #0056b3;
}
#chat-admin-container .chat-area .chat-input .attach-icon {
    width: 100%;
    margin-left: 12px;
    margin-top: 10px;
    width: fit-content;
    align-self: flex-start;
}
#chat-admin-container .chat-area .chat-input .attach-icon label {
    cursor: pointer;
}
#chat-admin-container .chat-area .chat-messages .message-chat {
    max-width: 80%;
    word-wrap: break-word;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 10px;
    padding: 8px 10px;
}
#chat-admin-container .chat-area .chat-messages .message-chat .file-image {
    max-height: 270px;
}
#chat-admin-container .chat-area .chat-messages .message-chat.user {
    background-color: #f5f5f5;
    color: #333;
    align-self: flex-start;
}
#chat-admin-container .chat-area .chat-messages .message-chat.user .file-name {
    color: #007bff;
    text-decoration: underline;
}
#chat-admin-container .chat-area .chat-messages .message-chat.admin {
    background-color: #007bff;
    color: #ffffff;
    align-self: flex-end;
}
#chat-admin-container .chat-area .chat-messages .message-chat.admin .file-name {
    color: #ffffff;
    text-decoration: underline;
}
#chat-admin-container .chat-area .chat-header .left-info {
    max-width: 70%;
}
#chat-admin-container .chat-area .chat-header .right-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#chat-admin-container .chat-area .chat-header .left-info .chat-customer {
    font-size: 18px;
}
#chat-admin-container .chat-area .chat-header .left-info .chat-customer .title {
    font-weight: 600;
    font-size: 20px;
}
#chat-admin-container .chat-area .chat-header .right-info .chat-date,
#chat-admin-container .chat-area .chat-header .right-info .chat-status {
    font-size: 18px;
}
#chat-admin-container .chat-area .chat-header .right-info .chat-status {
    display: flex;
    gap: 5px;
}
#chat-admin-container .chat-area .chat-header .right-info .chat-date .title,
#chat-admin-container .chat-area .chat-header .right-info .chat-status .title {
    font-weight: 600;
    font-size: 20px;
}
#chat-admin-container .chat-area .chat-header .right-info .chat-status #status-update.active {
    color: green;
}
#chat-admin-container .chat-area .chat-header .right-info .chat-status #status-update.closed {
    color: red;
}
#chat-admin-container .chat-area .chat-header .right-info .chat-status #status-update.pending {
    color: rgb(238, 220, 63);
}
#chat-admin-container .chat-area #chat-status-list {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid;
}
#chat-admin-container .chat-area #chat-status-list option {
    border-bottom: 1px solid #000;
    padding: 5px;
    color: black;
}
#chat-admin-container .chat-area #chat-status-list:hover, #chat-admin-container .chat-area #chat-status-list:focus {
    border: none;
}
#status-update-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Make sure it's above other content */
}
/* Styles for the modal content */
.modal-inner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1001; /* Make it appear above the overlay */
}
/* Styles for the modal title and content */
.modal-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.modal-content p {
    font-size: 16px;
}
/* Styles for the modal buttons */
.modal-actions {
    margin-top: 20px;
    text-align: center;
}
.modal-actions button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}
/* Close button (optional) */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}
#chat-admin-container .chat-area .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: white;
}
#chat-admin-container .chat-area .loading-circle {
    border: 4px solid #3498db;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
#chat-admin-container .user-list-wrapper .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: white;
}
#chat-admin-container .user-list-wrapper .loading-circle {
    border: 4px solid #3498db;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}