<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Leeto_TicketLiveChat::leeto_menu"
            title="Leeto"
            module="Leeto_TicketLiveChat"
            sortOrder="20"
            action="leeto_support/ticket/index"
            resource="Magento_Backend::content"/>
        <add id="Leeto_TicketLiveChat::leeto_tickets"
            title="Tickets"
            module="Leeto_TicketLiveChat"
            sortOrder="40"
            parent="Leeto_TicketLiveChat::leeto_menu"
            action="leeto_support/ticket/index"
            resource="Magento_Backend::content"/>
        <add id="Leeto_TicketLiveChat::leeto_chat"
            title="Live Chat"
            module="Leeto_TicketLiveChat"
            sortOrder="60"
            action="leeto_support/chat/index"
            parent="Leeto_TicketLiveChat::leeto_menu"
            resource="Magento_Backend::content"/>
    </menu>
</config>