.d-none {
    display: none !important;
}
.text-underline {
    text-decoration: underline;
}
.text-center {
    text-align: center;
}
#chat-container {
    position: fixed;
    bottom: 20px;
    z-index: 1000;
}
#chat-container.right {
    right: 20px;
}
#chat-container.right .chat-popup {
    right: 0px;
}
#chat-container.center {
    right: calc(50% - 55px);
}
#chat-container.center .chat-popup {
    right: calc(50% - 201px);
}
#chat-container.left {
    left: 20px;
}
#chat-container.left .chat-popup {
    left: 0px;
}
#chat-container .chat-button {
    border: none;
    background-color: #0062cc !important;
    background: #0062cc !important;
    color: #fff !important;
    border: none !important;
    padding: 10px;
    border-radius: 28px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
#chat-container .unread-messages-count {
    position: absolute;
    background-color: red;
    right: 5px;
    top: -15px;
    padding: 5px;
    padding: 4px 8px;
    border-radius: 50px;
}
#chat-container .chat-button.active {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) !important;
}
#chat-container .chat-button-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}
#chat-container .chat-popup {
    position: absolute;
    bottom: calc(100% + 10px); /* Adjust the gap between button and popup */
    width: 400px;
    height: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    overflow-y: auto;
    border-radius: 10px;
    opacity: 0;
    display: flex;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}
#chat-container .chat-popup.active {
    opacity: 1;
    visibility: visible;
    bottom: calc(100% + 20px);
}
#chat-container .chat-wrapper {
    padding: 15px;
    overflow-y: auto;
    max-height: 400px;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f5f5f5;
}
#chat-container .chat-wrapper::-webkit-scrollbar {
    width: 8px;
}
#chat-container .chat-wrapper::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
#chat-container .chat-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
#chat-container .chat-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
#chat-container .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#chat-container .chat-header .welcome-message-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    background-color: #0062cccc;
    color: white;
    padding: 10px 0px;
}
#chat-container .admin-status {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    width: 100%;
    border-bottom: 1px solid #d3d3d347;
    border-radius: 5px;
    padding: 10px 0px;
}
#chat-container .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
.online {
    background-color: green;
}
.offline {
    background-color: gray;
}
#chat-container .admin-name {
    font-size: 14px;
    font-style: italic;
}
#chat-container .welcome-message {
    font-size: 18px;
    text-align: center;
    width: 70%;
}
#chat-container .close-button {
    border: none !important;
    background-color: transparent !important;
    cursor: pointer;
}
#chat-container .close-button svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    color: #fff;
}
#chat-container .close-button svg path {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
#chat-container .chat-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#chat-container .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80%;
    border-radius: 10px;
    padding: 8px 10px;
    word-break: break-word;
}
#chat-container .user-message {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
}
#chat-container .user-message .file-content a {
    color: white;
    text-decoration: underline;
}
#chat-container .user-message .text {
    display: flex;
    gap: 6px;
    align-items: center;
}
#chat-container .user-message .text .file-icon {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 0;
}
#chat-container .user-message .text .file-icon svg path {
    fill: #fff;
}
#chat-container .support-message {
    align-self: flex-start;
    background-color: #e3e3e3;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#chat-container .support-message-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
#chat-container .support-message-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
#chat-container .support-message-name {
    font-weight: bold;
    font-size: 14px;
}
#chat-container .chat-input {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    position: sticky;
    bottom: 0;
    padding: 15px;
    gap: 14px;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid lightgray;
}
#chat-container .chat-input .input-wrapper {
    display: flex;
}
#chat-container .chat-input textarea {
    border: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    flex-grow: 1;
    height: 32px;
    resize: none;
    overflow: hidden;
    padding: 5px;
    background: transparent;
    border: none;
    box-shadow: none;
    max-height: 153px;
}
#chat-container .chat-input textarea:focus {
    outline: none;
    box-shadow: none;
}
#chat-container .chat-input button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
#chat-container .chat-input .send-icon {
    height: 100%;
    display: flex;
}
#chat-container .chat-input .attach-icon {
    padding-left: 5px;
}
#chat-container .chat-input .attach-icon label {
    cursor: pointer;
}
#chat-container .chat-input .attach-icon svg {
    fill: gray;
}
#chat-container .chat-messages .message-file {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
#chat-container .chat-messages .message-file a {
    color: #007bff;
    text-decoration: none;
    margin-left: 5px;
}
#chat-container .error-message {
    color: red;
    bottom: 8px;
    position: absolute;
    text-align: left;
    width: 80%;
    left: 44px;
}
#chat-container #email-error-message {
    color: red;
    font-size: 14px;
}
#chat-container .email-input-section {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
#chat-container .email-input-section input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
#chat-container .email-input-section label {
    color: #837f7f;
}
#chat-container .email-input-section button {
    background-color: #0062cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}
#chat-container .email-input-section button:hover {
    background-color: #0051aa;
}
#chat-container .ticket-section {
    height: 100%;
    display: flex;
    align-items: center;
}
#chat-container .ticket-section .ticket-wrapper {
    padding: 0 20px;
}
#chat-container .ticket-section .ticket-wrapper .new-chat .ticket-input-label {
    text-align: center;
}
#chat-container .ticket-section .ticket-wrapper .ongoing-chat .ticket-input-wrapper {
    margin-bottom: 20px;
}
#chat-container .ticket-section .ticket-wrapper .ongoing-chat #ticket-error-message {
    color: red;
}
#chat-container .ticket-section .ticket-wrapper .ongoing-chat .ticket-input-wrapper .options label {
    margin-right: 8px;
}
#chat-container .ticket-section .ticket-wrapper .ongoing-chat #submit-ticket-button {
    background-color: #0062cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}
@media (max-width: 480px) {
    #chat-container.center {
        right: 0;
    }
    #chat-container.center .chat-popup {
        right: 0;
    }
    #chat-container .chat-popup {
        bottom: -20px !important;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    #chat-container.right .chat-popup {
        right: -20px;
    }
    #chat-container.left .chat-popup {
        left: -20px;
    }
    #chat-container .chat-wrapper {
        max-height: 670px;
    }
}